{% set title = post.post_title %}
{% set content = post.post_content %}
{% set date_display = fn.get_the_date('d F Y', post.ID) %}
{% set date_datetime =  fn.get_the_date('Y-m-d', post.ID) %}

{% set tags = fn.get_the_tags(post.ID) %}
{% set cats = fn.get_the_category(post.ID) %}
{% set reading_time = fn.reading_time(content) %}
{% set image = fn.get_the_post_thumbnail_url(post.ID, 'post-thumbnail') %}

{% extends 'layout/base.twig' %}
{% block headerNav %}

	<section class="hero_single">
		{% include '/components/hero.twig' %}
	</section>
{% endblock %}
{% block main %}


	<div class="container single">

		<div class="columns is-multiline is-vcentered">

			<div class="column is-4-widescreen is-12-tablet has-text-right">
				<div class="">
					<h1 class="title is-1">{{title}}</h1>
					<div class="content">
						{% if date_display %}
							<div class="date">
								<time datetime="{{date_datetime}}">Publié le {{date_display}}</time>
							</div>
						{% endif %}
						
						{% if cats %}
						<div class="cats">
						<ul>
							{% for cat in cats %}
								<li class="title is-5"><a href="{{fn.get_term_link(cat,'category')}}">#{{cat.name}}</a></li>
							{% endfor %}
							</ul>
						</div>
					{% endif %}
					{% if tags %}
						<div class="tags_single">
						<ul>
							{% for tag in tags %}
									<li><a href="{{fn.get_term_link(tag,'post_tag')}}">{{tag.name}}</a></li>
							{% endfor %}
							</ul>
						</div>
					{% endif %}
					{% if reading_time %}
						<div class="reading_time">
							<span class="title is-6">{{reading_time}}</span>
						</div>
					{% endif %}
					</div>
				</div>
			</div>

			<div class="column is-8-widescreen is-12-tablet">
				<div class="box">

					{% if image %}
						<div class="box-image">
							<figure class="image is-4by3">
								<img src="{{image}}" alt="Placeholder image">
							</figure>
						</div>
					{% endif %}

				</div>
			</div>
			</div>

				<div class="columns is-multiline test_single">
			<div class="column is-8-widescreen  is-12-tablet mt-6 content_single">
				<div class="box">
					<div class="content">
						<p>{{content|raw|nl2br}}</p>
					</div>
				</div>

			</div>
			<div class="column is-4-widescreen side_single">
				<div class="test">
					<h1 class="title is-1">{{title}}</h1>
					<div class="content">
						{% if date_display %}
							<div class="date">
								<time datetime="{{date_datetime}}">Publié le {{date_display}}</time>
							</div>
						{% endif %}
						
						{% if cats %}
						<div class="cats">
						<ul>
							{% for cat in cats %}
								<li class="title is-5"><a href="{{fn.get_term_link(cat,'category')}}">#{{cat.name}}</a></li>
							{% endfor %}
							</ul>
						</div>
					{% endif %}
					{% if tags %}
						<div class="tags_single">
						<ul>
							{% for tag in tags %}
									<li><a href="{{fn.get_term_link(tag,'post_tag')}}">{{tag.name}}</a></li>
							{% endfor %}
							</ul>
						</div>
					{% endif %}
					{% if reading_time %}
						<div class="reading_time">
							<span class="title is-6">{{reading_time}}</span>
						</div>
					{% endif %}
					</div>
				</div>

			</div>
		</div>


		<section class="related">
			{% include '/components/layout/title.twig' with {link:archive_link_post, label:"Plus d'articles"} %}
			<div class="columns cards is-multiline">

				{% for key, post in related_post %}
					{% set column = "is-3-widescreen is-6-desktop is-6-tablet is-12-mobile" %}
					{% set img = fn.get_the_post_thumbnail_url(post.ID, 'post-thumbnail') %}
					{% set tags = fn.get_the_tags(post.ID) %}
					{% set cats = fn.get_the_category(post.ID) %}
					<div class="column {{column}}">
						<a href="{{fn.get_permalink(post.ID)}}">
							{% include '/components/layout/card_small.twig' with {cats:cats, tags:tags,post:post, image: img, content:post.post_content, title:post.post_title, date:true} %}
						</a>
					</div>
				{% endfor %}
			
			</div>
			{% include '/components/layout/btn.twig' with {link:archive_link_post, label:'Voir plus..'} %}
		</section>


		<section class="related">
			{% include '/components/layout/title.twig' with {link:archive_link, label:"Plus de news"} %}
			<div class="columns cards is-multiline">

				{% for key, post in related %}
					{% set column = "is-3-widescreen is-6-desktop is-6-tablet is-12-mobile" %}
					{% set img = fn.get_the_post_thumbnail_url(post.ID, 'post-thumbnail') %}
					{% set tags = fn.get_the_tags(post.ID) %}
					{% set cats = fn.get_the_category(post.ID) %}
					<div class="column {{column}}">
						<a href="{{fn.get_permalink(post.ID)}}">
							{% include '/components/layout/card_small.twig' with {cats:cats, tags:tags,post:post, image: img, content:post.post_content, title:post.post_title, date:true} %}
						</a>
					</div>
				{% endfor %}
			
			</div>
			{% include '/components/layout/btn.twig' with {link:archive_link, label:'Voir plus..'} %}
		</section>
	</div>
{% endblock %}
