
<a href="{{fn.get_permalink(post.ID)}}">
<div class="card">

	{% if image %}
		<div class="card-image">
	
			<figure class="image is-4by3">
				<img src="{{image}}" alt="Placeholder image">
			</figure>
		
		</div>
	{% endif %}

	<div class="card-content">

		{% if date %}
			<div class="dates has-text-right is-size-8 is-uppercase">
				{% set date_display = fn.get_the_date('d/m/y', post.ID) %}
				{% set date_datetime =  fn.get_the_date('Y-m-d', post.ID) %}
				<time datetime="{{date_datetime}}">Publié le
					{{date_display}}</time>
			</div>
		{% endif %}



		<div class="title is-size-4 mt-2">

			{{title}}
	
		</div>
	
	<div class="content is-size-6">
		
			<p>{{fn.wp_trim_words(content, 10, '...')|raw}}</p>
		
		</div>

	</div>

	<div class="card__bg">
		{% include '/components/svgs/' ~ random(1,10) ~ '.svg' %}</div>
        
</div>
</a>